<div>

  <label for="timer" class="form-label">Timer</label>

  <div class="row">

    <div class="col-6">

      <div class="input-group mb-3">
        <span class="input-group-text">Hours</span>
        <input [(ngModel)]="hours" type="number" class="form-control" placeholder="hours" aria-label="hours">

        <span class="input-group-text">Minutes</span>
        <input [(ngModel)]="minutes" type="number" class="form-control" placeholder="minutes" aria-label="minutes">

        <span class="input-group-text">Seconds</span>
        <input [(ngModel)]="seconds" type="number" class="form-control" placeholder="seconds" aria-label="seconds">
        
      </div>
    </div>


    <div class="col-2">

      <div class="input-group mb-3">
        <select [(ngModel)]="visualOptions" class="form-select" id="visulaOptions">
          <option selected>Choose...</option>
          <option value="full">Full</option>
          <option value="small">Small</option>
        </select>

        <label class="input-group-text" for="visulaOptions">Visual options</label>
      </div>

    </div>


    <div class="col-2">

      <div class="input-group mb-3">
        <select [(ngModel)]="timerOptions" class="form-select" id="Timer options">
          <option selected>Choose...</option>
          <option value="fixed">Fixed</option>
          <option value="countdown">Countdown</option>
          <option value="Clear">Clear</option>
        </select>

        <label class="input-group-text" for="Timer options">Timer options</label>
      </div>

    </div>

    <div class="col-2">
      <button (click)="addTimer()" type="button" class="btn btn-primary">Add</button>
    </div>

  </div>

</div>


<div class="timers">
  <label for="timers" class="form-label">Timers</label>


  
  <div class="row" *ngFor="let info of timersInfo">

    <app-timer [info]="info">

    </app-timer> 
    <div class="col"> 

    </div>

  </div>

</div>




<div>
  <button>Fixed</button>
  <button>Clear</button>
  <button>Remove</button>
</div>